name: Build and Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'

    - name: Publish
      run: dotnet publish Yellowcake.csproj -c Release -r win-x64 --self-contained true -p:PublishSingleFile=true -p:IncludeNativeLibrariesForSelfExtract=true -o ./publish

    - name: Zip Release
      shell: pwsh
      run: |
        # Creates a zip of the publish folder contents so Themes are included
        Compress-Archive -Path ./publish/* -DestinationPath ./Yellowcake-Manager.zip

    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        files: Yellowcake-Manager.zip
        generate_release_notes: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
